@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Custom component styles */
@layer components {
  .prose pre {
    @apply bg-gray-900 text-gray-100;
  }
}
